extends layout

block content
  div.box.box-default.color-palette-box
    //
      div.box-header.with-border
        h3.box-title
    div.box-body.markdown-body
      !{html}
    div.callout.callout-info.tools-bar
      h4 
        i.fa.fa-paperclip
        |  文档工具栏
      a(href="javascript:;")
        i.fa.fa-edit
        |  编辑此文档
      a(href="./download?md=#{download}",target='_blank')
        i.fa.fa-download  
        |  下载此文档 
  div.row
    if title != 'Wiki 文档中心'
      div.col-sm-12
        div#pr.box.box-primary
          div.box-header.with-border
            h3.box-title #{title} - 贡献者名单
          div.box-body
            a.btn.btn-primary.btn-sm(href="javascript:;") 
              i.fa.fa-code-fork  chinakids
  div.fix-menu
    div.title 文档目录
      i.fa.fa-list-ul.pull-right
    ul.clearfix
      if menu.length > 0  
        each item in menu
          li 
            a(href="javascript:;",data-href="#menu-#{$index}",name="menu") 
              i.fa.fa-tag 
              | #{item}
      else
        li
          a(href="javascript:;")
            i.fa.fa-circle-o 
            | 暂无目录
      li
        a(href="javascript:;",data-href="#pr",name="menu")
          i.fa.fa-star 
          | 贡献者      
